*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

.App{
  width: 600px;
  height: 500px;
  background-color: #f4ece8;
  margin: auto;
  border-radius: 10px;
}

.App_wrapper{
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_link{
  text-decoration: none;
  color: black;
  margin-right: 10px;
}

nav{
  margin:20px 0 0 10px;
}